<section class="home-section" id="home">
    <div class="container home-container">
        <h1 class="visually-hidden">Shadow casino empire</h1>
          <img class="home-logo" src="/img/home/logo.png" alt="Shadow casino empire" loading="lazy" />
            <h2 class="home-subtitle">Build The Most Powerful Casino Empire</h2>
            <p class="home-text">Power is built one jackpot at a time. Luxury management strategy inside a world of high-stakes nightlife.</p>
    </div>
</section>
<section class="about-section" id="about">
    <div class="title-container">
        <h2>About the Game</h2>
    </div>
    <div class="container">
        <h3>A luxury business simulator<br/>
        built around casino expansion</h3>
        <p class="about-text">In Shadow Casino Empire, you're running your own entertainment empire where you'll need to invest wisely, manage your
        resources, and keep your VIP guests happy if you want to build something that lasts. You'll be upgrading your casino
        floors, bringing in high-rollers, unlocking cool new attractions, and eventually managing a whole chain of luxury
        resorts across vibrant nightlife districts. You'll level up your casinos, make them look amazing, and manage your money
        - all while everything looks like it's straight out of a movie.</p>
    </div>
</section>
<section class="how-section" id="how">
    <div class="title-container">
        <h2>How to Play</h2>
    </div>
    <div class="container how-container">
        <h3>Expand your casino network and dominate the industry</h3>
<div class="how-swiper swiper">
    <div class="swiper-wrapper">

        <div class="swiper-slide">
         <img src="/img/how/one.png" alt="Shadow casino empire" loading="lazy">
         <p class="how-slide-title">Build Luxury Casinos</p>
         <p class="how-slide-text">Design stylish gaming floors and entertainment areas.</p>
        </div>
        <div class="swiper-slide">
            <img src="/img/how/two.png" alt="Shadow casino empire" loading="lazy">
            <p class="how-slide-title">Attract VIP Guests</p>
            <p class="how-slide-text">Increase reputation to unlock elite high-value visitors.</p>
        </div>
        <div class="swiper-slide">
            <img src="/img/how/three.png" alt="Shadow casino empire" loading="lazy">
            <p class="how-slide-title">Upgrade Entertainment Zones</p>
            <p class="how-slide-text">Improve restaurants, lounges, hotels, and casino attractions.</p>
        </div>
        <div class="swiper-slide">
            <img src="/img/how/four.png" alt="Shadow casino empire" loading="lazy">
            <p class="how-slide-title">Manage Resources Strategically</p>
            <p class="how-slide-text">Keep an eye on your bottom line while you're expanding and don't forget to keep your customers happy.</p>
        </div>
        <div class="swiper-slide">
            <img src="/img/how/five.png" alt="Shadow casino empire" loading="lazy">
            <p class="how-slide-title">Compete Against Rivals</p>
            <p class="how-slide-text">Expand influence across major nightlife districts.</p>
        </div>
        </div>
</div>
    <button class="how-btn how-btn-prev" type="button">
       <img src="/img/how/chevron-left.png" alt="Prev slide" loading="lazy">
    </button>

    <button class="how-btn how-btn-next" type="button">
       <img src="/img/how/chevron-right.png" alt="Next slide" loading="lazy">
    </button>

    </div>
</section>