<section class="home-section" id="home">
    <div class="container home-container">
        <h1 class="visually-hidden">Shadow casino empire</h1>
          <img class="home-logo" src="/img/home/logo.png" alt="Shadow casino empire" loading="lazy" />
            <h2 class="home-subtitle">Build The Most Powerful Casino Empire</h2>
            <p class="home-text">Power is built one jackpot at a time. Luxury management strategy inside a world of high-stakes nightlife.</p>
    </div>
</section>
<section class="about-section" id="about">
    <div class="title-container">
        <h2>About the Game</h2>
    </div>
    <div class="container">
        <h3>A luxury business simulator<br/>
        built around casino expansion</h3>
        <p class="about-text">In Shadow Casino Empire, you're running your own entertainment empire where you'll need to invest wisely, manage your
        resources, and keep your VIP guests happy if you want to build something that lasts. You'll be upgrading your casino
        floors, bringing in high-rollers, unlocking cool new attractions, and eventually managing a whole chain of luxury
        resorts across vibrant nightlife districts. You'll level up your casinos, make them look amazing, and manage your money
        - all while everything looks like it's straight out of a movie.</p>
    </div>
</section>