.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.footer-navigation {
  display: flex;
  gap: 70px;
text-decoration: underline;
  text-decoration-skip-ink: none;
}

.footer-text {
letter-spacing: -0.01em;
}

@media only screen and (min-width: 1440px) {
  .footer-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-navigation {
    order: 3;
    gap: 75px;
  }

  .footer-text {
    order: 1;
  }

  .footer-logo {
    order: 2;
  }
}