@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./footer.css');



.background {
    text-align: left;
    font-size: 14px;
}

.privacy-title {
font-family: "Cinzel", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(180deg, #f2f5f8 0%, #ac601c 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 56px;

}

.text-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.policy-subtitle {
font-family: "Roboto Condensed", sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.5;
    text-transform: uppercase;
    color: #f2f5f8;
    background: none;
        background-clip: border-box;
        -webkit-background-clip: border-box;
        -webkit-text-fill-color: initial;
    margin-top: 16px;
    margin-bottom: 16px;
    text-align: left;
}

.policy-link {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 64px;
    font-size: 12px;
}

.policy-list {
    list-style-type: disc;
    padding-left: 10px;
}

.underline {
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

.text {
    margin-top: 20px;
}

.mail-link {
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

.policy-span {
    text-transform: uppercase;
}

@media only screen and (min-width: 1439px) {
    .policy-container {
        padding-left: 223px;
        padding-right: 223px;
    }
}